body {
    font-family: Arial, sans-serif;
    background-color: #FEFEFE;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #24282E;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  form {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    color: #24282E;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #DDDDDD;
    border-radius: 0.375rem;
    font-size: 1rem;
    color: #24282E;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: black;
  }

  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: black;
  }
  
  p {
    text-align: center;
    color: #24282E;
    margin-top: 1rem;
  }
  
  a {
    color: #E4202C;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .signup-page {
    background-color: #FEFEFE;
    padding: 2rem;
  }

  .login-page {
    background-color: #FEFEFE;
    padding: 2rem;
  }
  